/* https://tailwindcss.com/ */
.py-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.py-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-25 {
    padding-left: 25px;
    padding-right: 25px;
}
.pt-8px {
    padding-top: 8px;
}
.mb-4px {
    margin-bottom:4px;
}

.mb-5px {
    margin-bottom: 5px;
}

.mb-8px {
    margin-bottom: 8px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-12px {
    margin-bottom: 8px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-18px {
    margin-bottom: 18px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-26px {
    margin-bottom: 26px;
}

.mb-28px {
    margin-bottom: 28px;
}
.mb-46px{
    margin-bottom: 46px;
}
.mr-10 {
    margin-right: 10px;
}

.t-0 {
    top: 0;
}

.b-0 {
    top: 0;
}

.h-50px {
    height: 50px;
}

.h-75px{
    height: 75px;
}

.h-125 {
    height: 125px;
}

.h-250px {
    height: 250px;
}

.h-500px {
    height: 500px;
}

.h-full {
    height: 100%;
}

.mh-300px {
    max-height: 300px;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-full {
    width: 100%;
}

.w-50px {
    width: 50px;
}

.w-60px {
    width: 60px;
}

.w-75px {
    width: 75px;
}

.w-100px {
    width: 100px;
}

.w-150px {
    width: 150px;
}

.w-200px {
    width: 200px;
}

.w-300px {
    width: 300px;
}

.w-0pct {
    width: 0%;
}

.w-20pct {
    width: 20%;
}

.w-25pct {
    width: 25%;
}

.w-40pct {
    width: 40%;
}

.w-50pct {
    width: 50%;
}

.w-60pct {
    width: 60%;
}

.w-75pct {
    width: 75%;
}

.w-80pct {
    width: 80%;
}

.z-2000 {
    z-index: 2000;
}

.mw-200px {
    max-width: 200px;
}

.mw-250px {
    max-width: 250px;
}

.mw-350px {
    max-width: 350px;
}

.mw-800px {
    max-width: 800px;
}

.lh-21 {
    line-height: 1.3125rem;
}

.lh-22 {
    line-height: 1.375rem
}

.lh-23 {
    line-height: 1.4375rem;
}

.lh-24 {
    line-height: 1.5rem;
}

.lh-2 {
    line-height: 2rem;
}

.lh-24 {
    line-height: 2.625rem;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.border-0 {
    border-width:0;
}

.mw-50 {
    max-width: 50px;
}

.leading-normal {
    line-height: 1.6;
}

.l-0 {
    left: 0;
}

.l-40 {
    left: 40%;
}

.overflow-y-scroll {
    overflow-y: scroll;
}
