@import "tailwindcss/base";
@import "tailwindcss/components";
/* @import "./components/index.pcss"; */
@import "tailwindcss/utilities";
/* @import "./utilities/index.pcss"; */
/* @import "./themes/index.pcss"; */


/* This fixes the bottom-of-page whitespace bug on android. */
html { min-height: 100vh !important }

.cursor-pointer { cursor: pointer }
.text-invalid { color: red } // brand-danger
.error-msg { font-weight: 400; text-align: right; font-size: 11px }
.error-msg.is-large { font-size: 15px }

.hand-stack-bg {
  background: url('/img/bg-hand-stack.jpg') no-repeat center center fixed;
  background-size: cover;
}

.booster-bash-bg {
  background: url('/img/booster-bash-landing-page.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* @media (min-width: 813px) {
  .gap-strike .strike:before { background-color: #222F3E }
  .registration .parent_login { color: #000; font-weight:bold }
  .registration  #print-terms { color: #000 }

  .error-msg { color:red }
  .btn-813-dk-grey-outline { border: 2px solid #576574; color: #576574  }
  .btn-813-dk-grey-outline:hover { color: #576574 }
  .d-813-none { display: none !important }
  .d-813-flex { display: flex !important }
  #print-terms { color:#000 !important }
} */
