$theme-name: 'blue_theme';
$theme-light-color: #484FF8;
$theme-dark-color: #3237A8;
$theme-text-color: #ccd5ef;

$theme-header-light-color: #484FF8;
$theme-header-dark-color: #3237A8;

@import 'theme_template';
