$theme-name: 'dark_gray_theme';
$theme-light-color: #5F5F5F;
$theme-dark-color: #323232;
$theme-text-color: #ccd5ef;

$theme-header-light-color: #5F5F5F;
$theme-header-dark-color: #323232;

@import 'theme_template';

