$theme-name: 'dark_green_theme';
$theme-light-color: #038042;
$theme-dark-color: #004422;
$theme-text-color: #ccd5ef;

$theme-header-light-color: #038042;
$theme-header-dark-color: #004422;

@import 'theme_template';
