$theme-name: 'default_theme';
$theme-light-color: #484FF8;
$theme-dark-color: #3237A8;
$theme-text-color: #ccd5ef;

$theme-header-light-color: #027ed7;
$theme-header-dark-color: #02098a;

@import 'theme_template';
