$theme-name: 'light_gray_theme';
$theme-light-color: #E0EFFF;
$theme-dark-color: #9EA8B2;
$theme-text-color: #5D5D5D;

$theme-header-light-color: #E0EFFF;
$theme-header-dark-color: #9EA8B2;

@import 'theme_template';
