$theme-name: 'light_blue_theme';
$theme-light-color: #B1EDFF;
$theme-dark-color: #2FC2EF;
$theme-text-color: #5D5D5D;

$theme-header-light-color: #B1EDFF;
$theme-header-dark-color: #2FC2EF;

@import 'theme_template';
