$theme-name: 'light_green_theme';
$theme-light-color: #79FFB2;
$theme-dark-color: #2ECC71;
$theme-text-color: #5D5D5D;

$theme-header-light-color: #79FFB2;
$theme-header-dark-color: #2ECC71;

@import 'theme_template';
