$theme-name: 'purple_theme';
$theme-light-color: #AA80C6;
$theme-dark-color: #684F79;
$theme-text-color: #ccd5ef;

$theme-header-light-color: #AA80C6;
$theme-header-dark-color: #684F79;

@import 'theme_template';
