.modal-close:hover::after,
.delete:hover::after,
.modal-close:hover::before,
.delete:hover::before {
    background-color: black;
}
.modal-close::after,
.delete::after,
.modal-close::before,
.delete::before {
    background-color: rgba(0,0,0,0.6);
}
.modal-close {
    background-color: rgba(245,245,245,0.7);
    // display: none;
}
.modal-close:hover {
    background-color: rgba(245,245,245,1);
}

// Prevent modal from being cutoff at the bottom when height is larger than viewport
.modal-content,
.modal-card {
    max-height: fit-content;
}
