.program-overview .readmore-wrapper {
    p {
        margin-bottom: 0;
    }
    .toggled p {
        margin-bottom: 1em;
    }
    .toggled span > :last-child {
        margin-bottom: 0em;
    }
    ol, ul {
        padding-left: 40px;
        margin-top: 1em;
        margin-bottom: 1em;

        ol, ul {
            margin-top: 0em;
            margin-bottom: 0em;
        }
    }
    ul {
        list-style-type: disc;
    }
}
