@import 'themes/blue';
@import 'themes/dark_gray';
@import 'themes/dark_green';
@import 'themes/dark_red';
@import 'themes/default';
@import 'themes/green';
@import 'themes/light_blue';
@import 'themes/light_gray';
@import 'themes/light_green';
@import 'themes/light_orange';
@import 'themes/purple';
@import 'themes/red_orange';
@import 'themes/red';

.bg-lt-gray{
    background-color: #d8d8d8;
}

.bg-gray{
    background-color: #384351;
}
.bg-dkblue {
    background-color: #0046eb;
}
