$theme-name: 'dark_red_theme';
$theme-light-color: #E20F0D;
$theme-dark-color: #710807;
$theme-text-color: #ccd5ef;

$theme-header-light-color: #E20F0D;
$theme-header-dark-color: #710807;

@import './theme_template.pcss';
