$theme-name: 'green_theme';
$theme-light-color: #00B16C;
$theme-dark-color: #027548;
$theme-text-color: #ccd5ef;

$theme-header-light-color: #00B16C;
$theme-header-dark-color: #027548;

@import './theme_template.pcss';
