$theme-name: 'light_orange_theme';
$theme-light-color: #FFB477;
$theme-dark-color: #EF852E;
$theme-text-color: #534b46;

$theme-header-light-color: #FFB477;
$theme-header-dark-color: #EF852E;

@import './theme_template.pcss';
