$theme-name: 'red_theme';
$theme-light-color: #FF5459;
$theme-dark-color: #B5151A;
$theme-text-color: #f9f9f9;

$theme-header-light-color: #FF5459;
$theme-header-dark-color: #B5151A;

@import './theme_template.pcss';
