$theme-name: 'red_orange_theme';
$theme-light-color: #FF8E79;
$theme-dark-color: #FF4523;
$theme-text-color: #534b46;

$theme-header-light-color: #FF8E79;
$theme-header-dark-color: #FF4523;

@import './theme_template.pcss';
