.text-inherit , .text-inherit:visited, .text-inherit:hover { color: inherit }
.text-black { color: #000 }
.text-gray { color: #222F3E }
.text-gray-light { color: #7f8fa4 }
.text-gray-lighter { color: #8395A7 }
.text-gray-lightest { color: #b0b0b1 }
.text-white-hover:hover { color:white }

@media (min-width: 576px) {
  .text-md-gray { color: #222F3E !important }
}

@media (min-width: 813px) {
  .text-813-gray { color: #222F3E !important }
}
