.app-header { @apply py-1; transition: all 0.4s ease-in-out }
.app-header a { @apply block }
.app-header .is-active { @apply underline text-secondary font-bold }

@screen lg {
  .app-header { @apply py-10 }
  .app-header.shrink { @apply py-4 }
}
