.cookie-policy { height: 54px }
.cookie-policy i, .cookie-policy p { top: 50%; transform: translateY(-50%); position: absolute }
.cookie-policy i { right: 0; padding: 20px; cursor: pointer }
.cookie-policy p  { width: 100%; box-sizing: border-box }
