.gap-strike { display: table; table-layout: fixed; width: 100% }
.gap-strike span { display: table-cell }
.gap-strike .strike { position: relative }
.gap-strike .strike:before {
  background: white;
  content: " ";
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
}
