.pledge-info .grid {
  display: grid;
  max-width: 1068px;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.pledge-info .w-333px { width: 100%; max-width: 20.8125rem }

@media (min-width: 576px) {
  .pledge-info .grid {
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  }
}
