.progress.progress-skinny {
  background: rgba(245, 245, 245, 1);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 5px; height: 10px;
}
.progress-bar-custom-green { background: rgb(70, 201, 49); background: #10ac84 }

.progress-bar-thin{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: rgba(222,222,222,0.51);
}

.progress-success{
  transition: all .85s ease-in-out;
  background-color: #41F5CD;
  height: 7px;
}
