.select-input .blue-rounded select{
    height: 30px;
    width: 245px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #2e86de;
    color:#fff;
    border-radius: 100px;
    -webkit-appearance: none;
    padding: 4px 12px;
}
.select-input select option{
    width:100%;
    color:#495057;
    background-color:#fff;
}
.select-input .blue-rounded select optgroup {
    color: blue;
}
.select-input i {
    color: #fff;
    position:absolute;
    top:10px;
    right:15px;
}
