.welcome-teachers  .checkbox { margin-right: 6px; display: inline }
.welcome-teachers .checkbox-label { display: inline; padding: 0 }

@media (min-width: 813px) {
  #regButtonsExplanationModalAnchor { color: black !important }
}
