.button,
.button.is-primary,
.button.is-link,
.button.is-info,
.button.is-success,
.button.is-warning,
.button.is-danger,
.button.is-secondary,
.button.is-tertiary {
    &[disabled] {
        //TODO: update a global and then update these in tailwind defaults
        $grey-lighter: #EFEFEF;
        $grey-dark: #979797;
        background-color: $grey-lighter;
        border-color: $grey-lighter;
        color: $grey-dark;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        opacity: 1;
    }
}
